{% extends "base.html" %}

{% block extra_head %}
    <link href='//cdn.jsdelivr.net/npm/devicons@1.8.0/css/devicons.min.css' rel='stylesheet'>
    {% autoescape off %}
        {{ style }}
    {% endautoescape %}
{% endblock %}

{% block content %}
      <div class="row align-items-start">
          <div class="col-4">
          <form method="post" enctype="multipart/form-data" class="was-validated">
              {% csrf_token %}
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label">Text</label>
              <textarea name="text" class="form-control" id="exampleFormControlTextarea1" rows="10" required>{{ page }}</textarea>
            </div>
              <button class="btn btn-success">Save</button>
        </form>
        </div>
        <div class="col-6">
            <div>
                <h1 id="headingPreview"></h1>
          <div id="preview"></div>
            </div>
              <img id="blah" class="img-fluid" src="#" alt="" />
        </div>
      </div>

<script>
    let editorContent=document.getElementById('exampleFormControlTextarea1')
    let headingEdit=document.getElementById('exampleFormControlTextarea2')
    const previewContent=document.getElementById('preview')
    let heightLimit = 600;

    changePreview();

    function changePreview()
    {
        editorContent.style.height = ""; /* Reset the height*/
        editorContent.style.height = Math.min(editorContent.scrollHeight, heightLimit) + "px";
        let editorText=editorContent.value;
        previewContent.innerHTML=editorText;

    }
    editorContent.addEventListener('input', changePreview)
</script>
{% endblock %}